
<form action="/adoption/<%=params[:id]%>/edit" method="post">

<% @adoptions.each do |adoption| %>
  <p>First Name: <%= adoption.owner.first_name %></p>
  <p>Last Name: <%= adoption.owner.last_name %></p>
  <p>Address: <%= adoption.owner.address %></p>
  <p>Email: <%= adoption.owner.email %></p>
  <p>Phone: <%= adoption.owner.phone %></p>
  <P>Adopted Animals: <%= adoption.animal.name %></P>


<% end %>

</form>
